{% extends 'base.html' %}

{% block title %}إنشاء فاتورة مبيعات{% endblock %}
{% block header %}فاتورة مبيعات جديدة{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.number.label_tag }}
                    {{ form.number }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.date.label_tag }}
                    {{ form.date }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.customer.label_tag }}
                    {{ form.customer }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.due_date.label_tag }}
                    {{ form.due_date }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 mb-3">
                    {{ form.subtotal.label_tag }}
                    {{ form.subtotal }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.discount_amount.label_tag }}
                    {{ form.discount_amount }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.tax_amount.label_tag }}
                    {{ form.tax_amount }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.total.label_tag }}
                    {{ form.total }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.notes.label_tag }}
                {{ form.notes }}
            </div>
            <button type="submit" class="btn btn-success">حفظ المسودة</button>
            <a href="{% url 'sales:invoice_list' %}" class="btn btn-secondary">إلغاء</a>
        </form>
    </div>
</div>
{% endblock %}
